@page
@model Web_asp.net_core.Pages.ThemThanhToanModel
@{
    ViewData["Title"] = "Thêm thanh toán";
}

<!-- ~/Pages/Index.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] Website_asp.net</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/apexcharts.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/tooplate-mini-finance.css" rel="stylesheet">

    <title>ThemNhomHang</title>
</head>
<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" asp-page="/Index>
                <i class="bi-box"></i>
                CTy_May_VT
            </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0" action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarLightDropdownMenuLink">
                        <i class="bi-bell"></i>
                        <span class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-lg-end notifications-block-wrap bg-white shadow" aria-labelledby="navbarLightDropdownMenuLink">
                        <small>Notifications</small>

                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex  align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>

                                <div>
                                    <span>Your account has been created successfuly.</span>

                                    <p>12 days ago</p>
                                </div>
                            </a>
                        </li>

                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-info">
                                    <i class="notifications-icon bi-folder"></i>
                                </div>

                                <div>
                                    <span>Please check. We have sent a Daily report.</span>

                                    <p>10 days ago</p>
                                </div>
                            </a>
                        </li>

                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-danger">
                                    <i class="notifications-icon bi-question-circle"></i>
                                </div>

                                <div>
                                    <span>Account verification failed.</span>

                                    <p>1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown ps-1">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-social bg-white shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="~/images/search.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Google</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="~/images/spotify.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Spotify</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="~/images/telegram.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Telegram</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="~/images/snapchat.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Snapchat</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="~/images/tiktok.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Tiktok</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="~/images/youtube.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Youtube</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/man.jpg" class="profile-image img-fluid" alt="">
                    </a>
                    <ul class="dropdown-menu bg-white shadow">
                        <li>
                            <div class="dropdown-menu-profile-thumb d-flex">
                                <img src="~/images/man.jpg" class="profile-image img-fluid me-3" alt="">

                                <div class="d-flex flex-column">
                                    <small>Thomas</small>
                                    <a href="#">thomas@site.com</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="dropdown-item" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Profile
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="setting.html">
                                <i class="bi-gear me-2"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="help-center.html">
                                <i class="bi-question-circle me-2"></i>
                                Help
                            </a>
                        </li>

                        <li class="border-top mt-3 pt-2 mx-4">
                            <form id="logoutForm" method="post" asp-page-handler="Logout">
                                <button type="submit" class="nav-link">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-page="Index">
                                <i class="bi-house-fill me-2"></i>
                                Overview
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Login">
                                <i class="bi bi-box-arrow-in-right me-2"></i>
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="Register">
                                <i class="bi-person-add me-2"></i>
                                Create account
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="abc active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-plus-circle me-2"></i>
                                Thêm bảng
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-page="ThemSanPham">Thêm sản phẩm</a></li>
                                <li><a class="dropdown-item" asp-page="ThemChiTietHoaDon">Thêm chi tiết hóa đơn</a></li>
                                <li><a class="dropdown-item" asp-page="ThemDaiLy">Thêm đại lý</a></li>
                                <li><a class="dropdown-item" asp-page="ThemHoaDon">Thêm hóa đơn</a></li>
                                <li><a class="nav-link active dropdown-item" asp-page="ThemThanhToan">Thêm thanh toán</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="abc" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-plus-circle me-2"></i>
                                Chi Tiết Bảng
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-page="SanPham">Sản phẩm</a></li>
                                <li><a class="dropdown-item" asp-page="ChiTietHoaDon">Chi Tiết Hóa Đơn</a></li>
                                <li><a class="dropdown-item" asp-page="DaiLy">Đại Lý</a></li>
                                <li><a class="dropdown-item" asp-page="HoaDon">Hóa Đơn</a></li>
                                <li><a class="dropdown-item" asp-page="ThanhToan">Thanh Toán</a></li>
                            </ul>
                        </li>

                        <li class="nav-item border-top mt-auto pt-2">
                            <form id="logoutForm" method="post" asp-page-handler="Logout">
                                <button type="submit" class="nav-link">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <!-- Modal -->
                    <section class="hero-section d-flex justify-content-center align-items-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-12 mx-auto">
                                    <form class="custom-form login-form" method="post" asp-page-handler="LuuThongTinThanhToan">
                                        <h2 class="h2 text-center mb-4 pb-2">Thông Tin Thanh Toan</h2>

                                        <div class="mb-4">
                                            <label for="MaDaiLy">Đại Lý:</label>
                                            <select id="MaDaiLy" name="MaDaiLy" required="">
                                                <option value="">Chọn đại lý</option>
                                                @foreach (var daiLy in Model.ListDaiLy)
                                                {
                                                    <option value="@daiLy.TenChuDaiLy">@daiLy.TenChuDaiLy</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="mb-4">
                                            <label for="SoTien">Số Tiền:</label>
                                            <input type="number" id="SoTien" name="SoTien" class="form-control" placeholder="Nhập số tiền" required="">
                                        </div>

                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-lg-5 col-12">
                                                <button type="submit" class="form-control">Lưu Phiếu Thu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>

            <footer class="site-footer bg-light col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                <div class="col-lg-12 col-12">
                    <p>
                        &copy; 2024 - May VT - <a asp-area="" asp-page="/Privacy" class="text-dark">Privacy</a>
                    </p>
                    <p>
                        Công ty May VT chuyên sản xuất và cung cấp sản phẩm may mặc chất lượng.
                    </p>
                    <p>
                        Địa chỉ: 111 đường số 5, Quận2, Thành Phố Hồ Chí Minh.
                    </p>
                </div>
            </footer>

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="~/lib/bootstrap/dist/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/apexcharts.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/custom.js"></script>

    <script>
        $(document).ready(function () {
            var selectAddress = $('#MaDaiLy');

            // Kích hoạt Select2 cho dropdown địa chỉ
            selectAddress.select2({
                dropdownAutoWidth: true,
                width: '100%',
                placeholder: "Chọn đại lý",
                allowClear: true
            });
        });
    </script>
</body>
</html>